<html>
<head>
  <meta charset="UTF-8">
  <title>Unit-10-Authentication</title>
</head>
<body>
  Login
  <form method="POST" action='/login'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="login">
  </form>
  <a href="https://github.com/login/oauth/authorize?client_id=0e3729f48fc55f033aa2&redirect_uri=http://localhost:3000/callback">github verification</a>
  <a href='./signup'>Sign up</a>
</body>
</html>
