<html>
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
    User info
    <ul>
    <li><%= profile.name %></li>
    <li><%= profile.url %></li>
    <li><%= profile.repos_url %></li>
    </ul>
</body>
</html>
